#version=RHEL7
text
auth --enableshadow --passalgo=sha512
cdrom
firstboot --enable
ignoredisk --only-use=sda
keyboard --vckeymap=de --xlayouts='de (mac_nodeadkeys)'
lang en_US.UTF-8
network --bootproto=dhcp --device=enp0s3 --ipv6=auto --activate
network --hostname=vagrant.localdomain
rootpw vagrant
timezone Europe/Berlin --isUtc --ntpservers=0.centos.pool.ntp.org,1.centos.pool.ntp.org,2.centos.pool.ntp.org,3.centos.pool.ntp.org
bootloader --location=mbr --boot-drive=sda
autopart --type=lvm
clearpart --none --initlabel
reboot

%packages
@core

%end